.logo {
    width: 40px;
    height: auto;
}
.card img{
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.card{
    margin: 20px auto;
    padding: 20px;
    width: auto;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}